<html ng-app="app.todos" class="ng-scope">

<head>
    <title>
        Node-Todos with Angular
    </title>
    <!--Load cdn styles-->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.1/css/xeditable.min.css">
    <!--Load app style-->
    <link rel='stylesheet' href='assets/css/style.css'>

    <!--Load cdn scripts-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.10.1/js/xeditable.min.js"></script>
    <!---Load app-->
    <script src="assets/js/main/app.js"></script>
    <script src='assets/js/main/services/svTodos.js'></script>
    <script src="assets/js/main/controllers/todoController.js"></script>
</head>

<body ng-controller='todoController'>
    <div class='container'>
        <p>
            <a href="//github.com/tienduy-nguyen/nodejs-projects">
                <img style="position: absolute; top: 0; left: 0; border: 0;" src="//s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"
                    alt="Fork me on GitHub">
            </a>
        </p>
        <div class='jumbotron text-center'>
            <h1>{{ appName }} - <span class="label label-info">{{todos.length}}</span></h1>
        </div>

        <!--Todo List-->
        <div id='todo-list' class='row'>
            <!-- Luoi trong bootstrap
            Luoi co 6 o o giua va 3 o o 2 ben-->
            <div class='col-sm-6 offset-md-3'>
                <div class="checkbox" ng-repeat='todo in todos'>
                    <input type="checkbox" ng-model='todo.isDone' ng-change='updateTodo(todo)'> 
                    <a href ng-click="deleteTodo(todo)"><i class = 'fa fa-remove'></i></a>
                    <a href ng-click='textBtnForm.$show()' ng-hide = 'textBtnForm.$visible'><i class = 'fa fa-edit'></i></a>
                    <span ng-class='{strike: todo.isDone}' editable-text='todo.text' e-form ='textBtnForm' onaftersave="updateTodo(todo)">{{todo.text}}</span>
                </div>
                <p class="text-center" ng-show='loading'>
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>
            </div>
        </div>

        <!--New todo-->
        <div class='row'>
            <!-- Luoi trong bootstrap
            Luoi co 8 o giua va 2 o o 2 ben-->
            <div id='todo-form' class='col-sm-8 offset-md-2 text-center'>
                <form>
                    <div class="form-group">
                        <input type='text' ng-model="formData.text" class='form-control input-lg text-center'
                            placeholder="What do you want to do?">
                    </div>
                    <button type="submit" class='btn btn-primary btn-lg' ng-model='formData.text' ng-disabled='!formData.text' ng-click="createTodo()">Add</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>