<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div >
        <h1>Error 404</h1>
        <p>OOPS! Page you're looking for doesn't exist.</p>
        <h4>Back to home page  <a href='/'>Home</a></h4>
    </div>
<%- include('../includes/end.ejs') %>