<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div>
        <h1>Some error occurred!</h1>
        <p>We're working on fixing this, sorry for the inconvenience!</p>
        <h4>Back to home page <a href='/'>Home</a></h4>
      
    </div>
    <%- include('../includes/end.ejs') %>