<form action="/cart" method='post'>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= product._id  %>"">
    <button class='btn' type='submit'>Add Cart</button>
 </form>