<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class='centered'>
            <h1>You are registered succesfully !</h1>
            <p>Click the button below to enter the site</p>
            <input type="hidden" name="registerToken" value="<%= registerToken %>">
            <input type="hidden" name="registerTokenExpiration" value="<%= registerTokenExpiration %>">
            <input type="hidden" name="email" value="<%= email %>">
            <input type="hidden" name="hashedPassword" value="<%= hashedPassword %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <form action="/">
                <input type="button" value='Return Home'>
            </form>

        </div>
    </main>
    <%- include('../includes/end.ejs') %>