<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div class='centered'>
            <h1>Welcome Back!</h1>
        </div>
        <% if(errorMessage){%>
            <div class='user-message user-message--error'><%=  errorMessage %> </div>
        <% } %> 
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <input 
                class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                type="email" name="email" id="email" placeholder="E-mail address" value='<%= oldInput.email  %>'>
            </div>
            <div class="form-control">
                <input 
                class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                type="password" name="password" id="password" placeholder="Password" value='<%= oldInput.password  %>'>
            </div>
            <div class='right-align'>
                <a href='/reset'>Forgot password?</a>
            </div>
           
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>