<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div class='centered'>
            <h1>Reset Password</h1>
        </div>
        <% if(errorMessage){%>
            <div class='user-message user-message--error'><%=  errorMessage %> </div>
        <% } %> 
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <input type="password" name="password" id="password" placeholder="New Password" value='<%= oldInput.password  %>'>
            </div>
            <div class="form-control">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" value='<%= oldInput.confirmPassword  %>'>
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Save</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>