<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div class = 'centered-form'>
            <h1>Forgot Password</h1>
            <p>Enter your e-mail address and we we'll send you a link to reset your password</p>
            <br>
        </div>
        <% if(errorMessage){%>
            <div class='user-message user-message--error'><%=  errorMessage %> </div>
        <% } %> 
        <form class="login-form" action="/reset" method="POST">
            <div class="form-control">
                <input type="text" name="email" id="email" placeholder="E-mail address" >
            </div>
          
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Submit</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>