<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    
   <main>
    <div class = 'centered'>
        <h1>Sign Up</h1>
    </div>
    <% if(errorMessage){%>
        <div class='user-message user-message--error'><%=  errorMessage %> </div>
    <% } %> 
    <form class="login-form" action="/signup" method="POST">
        <div class="form-control">
            <input 
            class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
            type="email" 
            name="email" 
            id="email" 
            placeholder="E-mail address" value=<%=oldInput.email  %> >
        </div>
        <div class="form-control">
            <input 
            class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
            type="password" name="password" id="password" placeholder="Password" value=<%=oldInput.password  %>>
        </div>
        <div class="form-control">
            <input 
            class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"
            type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" value=<%=oldInput.confirmPassword  %>>
        </div>
        <div class='right-align'>
            <p>Have already an account? <a href='/login'>Login</a></p>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">Signup</button>
    </form>
</main>
<%- include('../includes/end.ejs') %>