<!DOCTYPE html>
<html lang="en">

<head>
  <title>Video list</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin='anonymous'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
    crossorigin='anonymous'>
  </lick>
</head>

<body>

  <div class="container-fluid">
    <header>
      <%- include('./partials/header') %>
    </header>
    <div class='container-fluid mt-2'>
      <div class='row'>
        <div class='col-sx-8 col-sm-8 col-md-push-2 col-lg-8'>
          <form action="add" method='POST' role=form enctype="multipart/form-data">
            <legend class='bg-primary text-light'>ADD VIDEO</legend>
            <div class="form-group">
              <label for="">Title</label>
              <input type="text" class="form-control" placeholder="Enter a title" id="title" name='title'>
            </div>
            <div class="form-group">
              <label for="">Description</label>
              <input type="text" class="form-control" placeholder="Enter a description" id="description"
                name='description'>
            </div>
            <div class="form-group">
              <label for="">Key</label>
              <input type="text" class="form-control" placeholder="Enter a key of video" id="key" name='key'>
            </div>
            <div class="form-group">
              <label for="">Image</label>
              <input type="file" class="form-control" id="uploadfile" name='uploadfile'>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <footer>
        <%- include('./partials/footer') %>
      </footer>
    </div>
</body>

</html>