<!DOCTYPE html>
<html lang="en">

<head>
  <title>Video list</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin='anonymous'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
    crossorigin='anonymous'>
  </lick>
</head>

<body>

  <div class="container-fluid">
    <header>
      <%- include('./partials/header') %>
    </header>
    <div class='container-fluid mt-2'>
      <div class='row'>
        <div class='col-sx-8 col-sm-8 col-md-push-2 col-lg-8 table-responsive'>
          <form action="../edit/<%= data.id %>" method='POST' role=form enctype="multipart/form-data">
            <legend class='bg-primary text-light'>EDIT VIDEO</legend>
            <div class="form-group">
              <label for="">Title</label>
              <input type="text" class="form-control" placeholder="Enter a title" id="title" name='title'
                value='<%= data.title %>'>
            </div>
            <div class="form-group">
              <label for="">Description</label>
              <input type="text" class="form-control" placeholder="Enter a description" id="description"
                name='description' value='<%= data.description %>'>
            </div>
            <div class="form-group">
              <label for="">Key</label>
              <input type="text" class="form-control" placeholder="Enter a key of video" id="key" name='key'
                value='<%= data.key %>'>
            </div>
            <div class="form-group row">
              <div class='col-md-6'>
                Old image: <img width='150px' src='../../<%= data.image %>' alt=''>
              </div>
              <div class='col-md-6'>
                <label for="" class='btn btn-default btn-file'>New Image: </label>
                <input type="file" class="form-control" id="uploadfile" name='uploadfile'>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <footer>
        <%- include('./partials/footer') %>
      </footer>
    </div>


</body>

</html>