<!DOCTYPE html>
<html lang="en">

<head>
  <title>Video list</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin='anonymous'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
    crossorigin='anonymous'>
  </lick>
</head>

<body>

  <div class="container-fluid">
    <header>
      <%- include('./partials/header') %>
    </header>
    <div class='row mt-5'>
      <div class='col-xs-8 col-sm-8 col-md-8 col-lg-8 mt-8'>
        <table class="table table-bordered table-dark">
          <thead>
            <tr class='bg-primary text-center'>
              <td colspan='6'>
                <a type='button' class='btn btn-primary' href='/video/add'>Add Video</a>
              </td>
            </tr>
            <tr class='bg-primary'>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Key</th>
              <th>Image</th>
              <th>Edit - Delete</th>
            </tr>
          </thead>
          <tbody>
            <% data.rows.forEach(function(item){ %>
            <tr>
              <td> <%= item.id %> </td>
              <td> <%= item.title %> </td>
              <td> <%= item.description %> </td>
              <td> <%= item.key %></td>
              <td>
                <img class="thumb" src="../<%= item.image %>" alt=''></img>
              </td>
              <td>
                <a type='button' class='btn btn-success' href=<%= '/video/edit/' + item.id %>> <i
                    class="fa fa-edit fa-lg"></i>Edit</a>
                <a type='button' class='btn btn-danger' onclick="return confirm('Are you sure to delete?')"
                  href=<%= '/video/delete/' + item.id %>> <i class="fa fa-trash-o fa-lg"></i>Remove</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <footer>
      <%- include('./partials/footer') %>
    </footer>
  </div>

</body>

</html>