<style>
.mauxam{color: white}
</style>
<h1 class="caption">Hướng dẫn <a class="closebutton" href="#!/"></a></h1>
<div class="c1of2" style="font-size:20px">
<h4>Xin chào!</h4><br/>

<h4 class="mauxam">Website này được xây dựng bởi NodeJS, database PostGreSQL.</h4>
<br/>
<h4 class="mauxam">Đây là sản phẩm demo nằm trong <a href="http://khoapham.vn/khoa-hoc-lap-trinh-nodejs.html" target="_blank" style="color:#0099ff">KHÓA HỌC LẬP TRÌNH NODEJS</a> tại Khoa Phạm.</h4>
<br/>

</div>
<div class="c2of2" style="font-size:20px">
	<a href="http://khoapham.vn" target="_blank">
	<img src="images/logo200.png" width="40%" style="margin-top:20px" />
	</a>
</div>

<div style="display:block; clear:both"></div>

<div class="quotes-one">
	<h4 class="mauxam">Toàn bộ hướng dẫn xây dựng trang web này sẽ được giới thiệu
	tại buổi <span style="color:#0099ff; font-size:16px">hội thảo LẬP TRÌNH NODEJS & EPXRESS vào ngày 02-10-2016</span></h4>
  <br/><h4 class="mauxam">Đăng kí tham dự hoàn toàn miễn phí tại đây <a href="https://www.facebook.com/events/1108847689191338/" target="_blank">https://www.facebook.com/events/1108847689191338/</a></h4>
</div>
<br/>
<h4><br/>Bạn hoàn toàn có thể thay đổi toàn bộ nội dung này để làm sản phẩm của riêng mình, hoặc làm quà tặng cho người thân của mình nhé.</h4>
